*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.container {
    width: 70%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.container2 {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.container3 {
    width: 50%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.casella {
    margin: 5px;
    width:calc((100% / 10 ) - 10px );
    height: 70px;
    background-color: black;
}

.casella_2 {
    margin: 5px;
    width:calc((100% / 9 ) - 10px );
    height: 70px;
    background-color: black;
}

.casella_3 {
    margin: 5px;
    width:calc((100% / 7 ) - 10px );
    height: 70px;
    background-color: black;
}




